<div class="container bg-primary   mb-3 mt-3 p-4 text-primary d-flex justify-content-between" style="--bs-bg-opacity: .4;">
    <h1>Good bye {{userName}}</h1>
</div>
<script>
    setTimeout(()=> {
        location.href='/auth/login'
    }, 2000)
</script>