<div class="container bg-success mb-3 mt-3 p-4 text-success d-flex justify-content-between" style="--bs-bg-opacity: .4;">
    <h1>Welcome {{userName}}</h1>
    <button class="btn btn-warning"><a href="/auth/logout">Loggout</a></button>
</div>